body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}

html{
  height:100%;
}

#root{
  height:100%;
}

#root > div{
    height:100%;
}


.home-container{
  height: 100%;
}

.back-image{
  margin-top: -25px;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/8b/b4/05/8bb40536f6bdf228bc5f91d3fc4e4029.jpg');
  width: 100%;
  height: 100%;
}

.logo{
  font-family: 'Pacifico', cursive;
}

.logo.large{
  color:#f44289;
  font-size: 8em;
  padding-top:10%;
  padding-left: 5%;
   text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.logo.small{
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}

.slogan{
  color:#9b999a;
  font-family: 'Crete Round', serif;
  font-size: 2em;
  padding-top:2px;
  padding-left: 5%;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}

.home-button{
  background-color:#f44289;
  color: white;
  border: none;
  margin-top:15%;
  margin-left: 10px
}

.home-button.first{
  margin-left: 5%;
}

.navbar{
  background-color: #f44289;
  border: none;
  border-radius: 0px;
  color: white !important;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.gift-icon{
  padding-right:7px;
}

.gift-back{
  color:#f44289;
  opacity: 0.19;
  font-size:25em;
  position: absolute;
  padding-top: 25px;
  left: 25px
}

.action-icon{
      margin-right:10px;
}

.action-icon:hover{
    color:#f44289;
}

.new-simcha.btn{
    margin-top: 2px;
}

.btn.pink{
    background-color: #f44289;
    color:white;
}

.btn.pink:hover{
  color:#f44289;
  background-color: #d8d8d8;
  border: 1px solid #f44289;
}

.simchas-header{
  border: 2px solid #d8d8d8;
}

.logo.simchas{
  font-size: 8em;
  color:#f44289;
  text-align: center;
}


@media only screen and (min-width: 384px) and (max-width: 496px){
   table{
    font-size: .95em;
  }
  button{
    font-size: .6em;
  }

  .logo.simchas{
    font-size: 6em;
  }
}

@media only screen and (min-width: 100px) and (max-width: 383px){
    table{
    font-size: .8em;
  }
    button{
    font-size: .6em;
  }
  
  .logo.simchas{
    font-size: 4em;
  }
}

.table-top{
  height: 38px;
  background-color: #d8d8d8;
}

.simcha-table{
  padding-right: 0px ;
  padding-left: 0px ;
}

.checkbox-group{
  margin-top: 25px;
}

.checkbox-class{
  position:absolute;
  bottom: 2px;
  margin-left:8px ;
}

.details-column{
  width: 15px;
}

.details-title{
 font-family: 'Pacifico', cursive;
  color:#f44289;
}

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #f44289;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #f44289;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 3px;
	left: 6.5px;
	width: 6px;
	height: 13px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 3px 4px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

.details-title>.fa{
  margin-right: 10px;
}

.total{
  color: #f44289;
  float: right;
   font-family: 'Crete Round', serif;
  font-size: 2em;
}

.col-span-3{
  column-span: 3;
}

.action-col{
     width: 12px; 
}

.pink-box{
  background-color:  #f44289;
  color:white;
  font-size: 16.5em;
  text-align: center;
}

.register-title{
   color:#9b999a;
  font-family: 'Crete Round', serif;
  text-align: center;
  margin-top:30px;
}

.logo.pink{
  color: #f44289;
}

.line{
  border-bottom: #9b999a solid 1px;
  margin-bottom: 20px;
}

.form-group{
  margin-bottom: 12px;
}

.register-box{
  margin-top: 10%;
}

.register-btn{
  float:right;
  margin-top:8px;
  /*margin-right:16px;*/
}

.error-thingy{
  font-size: 1.6em;
  color:#f44256;
  position: absolute;
  margin-top:6px;
  right:25px;
}

.login-btn{
  text-align: center;
}

.login-btn>.btn{
  width:75px;
 margin-top:20px;
}

.register-title>.logo{
  margin-top:10px;
  margin-bottom: 40px;
}

.heading-box .avatar{
  /*margin-top: 20px;*/
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #9b999a;
  color: white;
  font-size: 6em;
  text-align: center;
  display: inline-block;
  margin-right: 16px;
  padding-top: 16px;
}

.heading-box .user{
   color:#9b999a;
  font-family: 'Crete Round', serif;
  font-size: 5em;
  padding-top:18px;
  padding-left: 26px;
  display: inline-block;
}

.heading-box{
    text-align: center;
  margin-bottom: 16px;
}

.small-boxes .box{
  text-align: center;
  height: 250px;
  padding-bottom: 50px;
  background-color: #efefef;
  font-family: 'Crete Round', serif;
  font-size:2em;
   color:#9b999a;
  margin-bottom: 30px;
}

.small-boxes .box .number{
  line-height: 1;
   font-size: 6em;
 color: #f44289;

}

.small-boxes .box .currency{
  line-height: 1.2;
   font-size: 4em;
 color: #f44289;
}

@media only screen and (min-width: 992px) and (max-width: 1160px){
  .small-boxes>.box>.currency{
    font-size: 3em;
  }
}

.space-between{
  width:8%;
}

.big-box{
    background-color: #efefef;
    height: 240px;
    font-family: 'Crete Round', serif;
}

.cards{
  margin-top: 15px;
}

.card{
  color: #9b999a;
  font-size:1.2em;
  padding-left:20px;
  padding-top:12px;
  background-color: white;
  height: 50px;
  margin: 10px 20px 0px 20px;
}

.pink.title{
 text-align: center;
   padding-top: 7px;
  font-size:1.7em;
  color: #f44289;
}

.card>div>.fa-calendar{
  padding-right: 10px;
}

.card>div>.currency{
  font-size:1.7em;
  color: #f44289;
  line-height: .7;
}

label.control{
  font-size: inherit;
  font-weight: inherit;
}

.checkbox-group{
  margin-top:10px;
}

.checkbox-group>label{
padding-top:2px;
}

.checkbox-group.edit{
  margin-top:23px;
}

.my-account-title{
  position: relative;
  z-index: 1000;
}

.my-account-info>.fa-pencil{
  margin-left:10px;
}


.my-account-group{
  padding-top:10px;
}

.my-account-group>label{
  color:#9b999a;
}

.my-account-group>.field-group{
  margin-top:-8px;
  margin-left:-33px;
  margin-bottom: 15px;
}

.my-account-group>button{
  margin-top:-8px;
 
}


.my-account-group>.field-group>form>button{
  margin-right:10px;
}

.password-buttons{
  float:right;

}
.password-field{
  margin-bottom: 10px;
}

.password-buttons>button{
  margin-right:15px;
}

.simchas-container{
  padding-right:25px;
  padding-left:25px;
}